<div class="box-blabla">
    <h1>Dobrodošli na Alpha Blog!</h1>
    <p>Alpha Blog je web stranica za pisanje blogova, generalnom svrhom za upoznavanje sa ljudima. Registrirajte se za nastavak.</p>
    <div class="krugovi">
        <div class="slicica">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
        <div class="text">
            Traži što te zanima
        </div>
        <div class="slicica">
            <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
        </div>
        <div class="text">
            Uvijek korak naprijed!
        </div>
    </div>
    <div class="register">
        <%= link_to "Registriraj se", "#", class: "btn btn-primary btn-lg" %>
    </div>
</div>
