<footer class="footer">
    <small>
        Copyright &copy; <a href="#">Sva prava zadržava ta i ta kompanija ta i ta firma bla bla.</a>
        stranica napravljena od strane <a href="#">&copy; Icco Company 2017</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", aboutpage_path %></li>
        </ul>
    </nav>
</footer>